.about-container  {
    display: flex;
    gap: 0 60px;
    max-height: 700px;
    margin-top: 60px;
}

.about-content  {
    align-items: center;
    gap: 0 60px;
    max-height: 700px;
    color: #212529;
}


